In [1]:
import pandas as pd

In [6]:
df1 = pd.DataFrame({'code':[],'attitude':[],'reason':[],'earn_nextweek':[]})
df1
pd.DataFrame.to_csv()

Empty DataFrame
Columns: [code, attitude, reason, earn_nextweek]
Index: []

In [7]:
df2 = pd.DataFrame(columns=['code','attitude','reason','earn_nextweek'])
df2

Empty DataFrame
Columns: [code, attitude, reason, earn_nextweek]
Index: []

In [11]:
df3 = df2.append({'code':'300033.SZ'},ignore_index = True)

In [12]:
df4 = df3.append({'code':'300033.SZ'},ignore_index = True)

In [13]:
df4

        code attitude reason earn_nextweek
0  300033.SZ      NaN    NaN           NaN
1  300033.SZ      NaN    NaN           NaN

In [15]:
df4.to_csv(r'data/write_test.csv',index = False)

## SZSE Stock List

In [ ]:
List_data = pro.stock_basic(exchange='SZSE', list_status='L', fields='ts_code,symbol,name')
List_data.to_csv(r'data/SZSE_list_2021.csv',index = False)